@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body {
    background-color: #ffffff!important;
}
.navbar-nav{
    justify-content: flex-end;
    flex: 1;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-left: 20px;
}

.bg-light {
    background-color:#ffc007!Important;
}

.navbar-collapse {
    width: 100%
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#b5352b;
}

.banner {
    background-image: url(../img/backgroung.png);
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 25px;
}

.banner button {
    padding: 14px 20px;
    border-radius: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    margin: 55px 0px 0px 25px;
}

button.ticket {
    background-color:#f2254c;
    color: white;
    border: 2px solid #f2254c; 
    transition-duration: 0.4s;
}

.ticket:hover {
    background-color:#16191c;
    color:white;
    border: 2px solid #16191c;
}

button.learn-more {
    background-color: transparent;
    color: white;
    border: 2px solid white; 
    transition-duration: 0.4s;
}

.learn-more:hover {
    background-color:white;
    color:#16191c;
    border: 2px solid white;
}

.img-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.container2 h2 {
    text-align: center;
    font-size: 34px;
    font-family: 'Rubik', sans-serif;
    color:#16191c;
}

.container2 {
    padding-top:80px;
}

main > h3 {
    margin: 25px 20px 0px 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#494D51;
}

 .horizontal-line::after {
    content: "";
    height:3px;
    background: #44AED4;
    display: block;
    width: 38px;
    margin: 25px auto 0;
}

.col-sm > h2 {
    font-size: 60px;
    color:#ffc132;
    text-align: center;
    margin:40px 20px 0px 20px;
}

.col-sm h3 {
    text-align: center;
    color:#494D51;
    font-size: 23px; 
}

.col-sm >p {
    text-align: center;
    margin: 25px 20px 40px 20px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#494D51;
}

.container3 h3 {
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#494D51;
    margin:40px 20px 40px 20px;
}
.container3 h2{
    margin-top: 30px;
}
.container3 p {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.tulip-background {
    margin-bottom: 40px;
}

.flower2020{
    background-image: url(../img/photo8.jfif);
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%; 
    background-position: center;
    background-size: cover;
}

.info2020 h2{
    color: #ffc132;
    font-size: 42px;
    font-family: 'Rubik', sans-serif;
}
.info2020 h3{
    color: #DCDCDC	;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.2px;
    text-align: justify;
    margin: 25px 30px 0px 30px;
}
.info2020 p{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.2px;
    color:#DCDCDC;
    text-align: justify;
    margin: 0px 30px 0px 30px;
}
.marked-list{
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#DCDCDC	;
    margin: 15px;
}
button.ticket-buy {
    padding: 10px 22px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color:#44aed4;
    color:#ffffff;
    border: 2px solid #44aed4; 
    transition-duration: 0.4s;
}

.ticket-buy:hover {
    background-color:#16191c;
    color:white;
    border: 2px solid #16191c;
}

.buy-a-ticket {
    background-image: url(../img/calla-background.png);
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%; 
    background-position: center;
    background-size: cover;
}

.buy-a-ticket h2 {
    font-size: 38px;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
}

.buy-a-ticket p {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.2px;
    color:#FFFFFF;
    text-align: center;
    margin: 25px 10px 60px 10px;
}

.horizontal-line2::after {
    content: "";
    height:3px;
    background: #ffffff;
    display: block;
    width: 38px;
    margin: 25px auto 0;
}

.colortext {
    color:#f2254c;
}

.ticket-hurry-up {
    padding: 10px 22px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color:#44aed4;
    color:#ffffff;
    border: 2px solid #44aed4; 
    transition-duration: 0.4s;
}

.ticket-hurry-up:hover {
    background-color: #f2254c;
    color:#ffffff;
    border: 2px solid #f2254c;
}

.gallery h2 {
    font-size: 34px;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
}

 .horizontal-line3::after {
    content: "";
    height:3px;
    background: #ffc132;
    display: block;
    width: 38px;
    margin: 25px auto 0;
}
.florist-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.carousel3 div img {
    width: 100%;
}
.carousel3 {
    padding-bottom: 50px;
}

 .next {
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color:#44aed4;
    color:#ffffff;
    border: 2px solid #44aed4; 
    transition-duration: 0.4s;
    padding: 10px 20px;
    margin: 20px 20px 20px 0px;  
}

.prev {
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color:#44aed4;
    color:#ffffff;
    border: 2px solid #44aed4; 
    transition-duration: 0.4s;
    padding: 10px 20px;
}

.click {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}  

.top-florists h2 {
    font-size: 34px; 
    font-family: 'Rubik', sans-serif;
}

.top-florists p {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#494d51;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 25px 10px 40px 10px;
}

.gallery p {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.2px;
    color:#494d51;
    text-align: center;
    margin: 25px 10px 40px 10px;
}

.any-questions {
    background-image: url(../img/any-beckground4.jpg); 
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%; 
    background-size: cover;
    background-position: center;
}

.any-questions h2 {
    font-size: 54px;
    font-family: 'Rubik', sans-serif;
    color:#ffffff;
    text-align: left;
    margin-left: 40px;
}
.colortext2 {
    color:#44aed4;
}
.horizontal-line4::after {
    content: "";
    height:3px;
    background: #44aed4;
    display: block;
    width: 38px;
    margin: 25px auto 0 40px;
}

.book-your-ticket {
    background-image: url(../img/background2.png);
    padding-top: 80px;
    padding-bottom: 100px;
    height: 100%; 
    background-size: cover;
}

.any-questions p {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#ffffff;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px; 
}

.button-questions {
    padding: 14px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 55px 0px 0px 25px;
}

button.ticket2 {
    padding: 10px 22px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color:#44aed4;
    color:#ffffff;
    border: 2px solid #44aed4; 
    transition-duration: 0.4s;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ticket2:hover {
    background-color: #ffffff;
    color:black;
    border: 2px solid #ffffff;
}

button.learn-more2 {
    padding: 10px 22px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: transparent;
    color:#ffffff;
    border: 2px solid #ffffff; 
    transition-duration: 0.4s;
}

.ticket2:hover {
    background-color: #ffffff;
    color:black;
    border: 2px solid #ffffff;
}

.learn-more2:hover {
    background-color: #ffffff;
    color:black;
    border: 2px solid #ffffff;
}

.padding {
    padding: 5rem !important
}

.signup-form {
    background-color: #fff;
    padding: 45px;
    border-radius: 1px
}

body {
    background-color: #000
}

.padding {
    padding: 5rem !important
}

.signup-form {
    background-color: #fff;
    padding: 45px;
    border-radius: 1px
}

h4 {
    font-size: 36px;
    letter-spacing: 0.08em
}

.signup-form .form-control{
    font-size: 16px;
    padding: 10px 15px;
    color: #555;
    background-color: #fff;
    border-radius: 3px
}

.signup-form input {
    border: 1px solid #eee;
    height: 38px;
    box-shadow: none !important
}

.btn-blue {
    background: #44c5ee;
    padding: 10px 28px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    outline: none !important
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    background: #fff;
    color: #496174
}

.countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    grid-gap: 15px;
}

.year {
    color:#ffc007;
}

.countdown .time {
    font-size: 25px;
    color:#ffffff;
    font-family: 'Dancing Script', cursive;
}